body {background:lightblue;}
h1 {font-size: 52px;}
h2 {background: red;}
h3 {background: green;}
h2 {font-size: 32px;}
h3 {font-size: 32px;}
.verde {background: green;}
.rosa {background: pink;}
p {font-size: 24px;}
p {background: purple;}
li {font-size: 20px;}
.amarillo {background: yellow;}
.azul {background: blue;}
 
